
body { 
    background-color:white;
    background-image: url("http://localhost/sew/UO264030/practica2/multimedia/imagen/fondo.jpg");
    background-repeat: repeat-x;
    background-position: bottom right;
    background-size: 100%;
}
